[run]
omit =
    src/package/*
    src/profiles/*
    src/tests/*
    src/dgisim/helper/level_print.py
    src/dgisim/cli.py
    src/dgisim/game_state_machine.py

[report]
skip_empty = True
exclude_also =
    def __repr__
    def __str__
    def __copy__
    def __deepcopy__
    def CARD
    def content_str
    def dict_str
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    return \[\], self
    raise NotImplementedError
    raise Exception\(.Not Reached
    raise Exception\([a-z]*"[nN]ot [oO]verride
    @abstractmethod
